<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.ApiClient" version="3.0.0.569" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="MediaBrowser.Common" version="3.0.579" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+MonoTouch10" />
  <package id="SQLite.Net-PCL" version="2.4.1" targetFramework="portable-net45+win+wpa81+wp80" />
</packages>