[submodule "Other/ApiClient"]
	path = Other/ApiClient
	url = g:/Documents/Visual Studio 2012/Projects/MediaBrowserServer/MediaBrowser.ApiClient
	branch = master
[submodule "Other/PlayerFramework"]
	path = Other/PlayerFramework
	url = g:/Documents/Visual Studio 2013/Projects/PlayerFramework
	branch = master
