<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Phone.Toolkit" version="2.1" targetFramework="wp80" />
  <package id="Fody" version="1.13.3.0" targetFramework="wp80" />
  <package id="HttpClient.Compression" version="1.0.0-beta4" targetFramework="wp80" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.55-beta" targetFramework="wp80" />
  <package id="MediaBrowser.Common" version="3.0.56" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.0.16-rc" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.14-rc" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.0-rc" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.1.3-beta" targetFramework="wp80" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="wp80" />
  <package id="PhoneThemeManager.Source" version="1.3.3" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.36.1.0" targetFramework="wp80" />
  <package id="protobuf-net" version="2.0.0.621" targetFramework="wp80" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.13.0" targetFramework="wp80" />
  <package id="SharpGIS.GZipWebClient" version="1.4.0.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp80" />
  <package id="YLAD" version="2.0.0" targetFramework="wp80" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="wp80" />
</packages>