<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.6" targetFramework="sl40-wp71" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.0.11-beta" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.12-beta" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="sl40-wp71" />
  <package id="PhoneFlipMenu" version="1.0.0" targetFramework="sl40-wp71" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.10.0" targetFramework="wp71" />
  <package id="SharpGIS.GZipWebClient" version="1.2" targetFramework="sl40-wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.10.9" targetFramework="wp71" />
</packages>