<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.6.1" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.0.11-beta" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.12-beta" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="wp71" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.11.0" targetFramework="wp71" />
  <package id="SharpGIS.GZipWebClient" version="1.2" targetFramework="sl40-wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>