<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Toolkit.Core" version="1.2.6" targetFramework="wp80" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="wp80" />
  <package id="Fody" version="1.27.1" targetFramework="wp80" developmentDependency="true" />
  <package id="JetBrainsAnnotations.Fody" version="1.0.2" targetFramework="wp80" developmentDependency="true" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.576" targetFramework="wp80" />
  <package id="MediaBrowser.Common" version="3.0.585" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp80" />
  <package id="MvvmLightLibs" version="5.0.0.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.49.0" targetFramework="wp80" developmentDependency="true" />
  <package id="ScottIsAFool.WindowsPhone.Background" version="1.0.18.11" targetFramework="wp80" />
  <package id="WebSocket4Net" version="0.11" targetFramework="wp80" />
</packages>