<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Phone.Toolkit.Background" version="3.2.1" targetFramework="wp71" />
  <package id="Fody" version="1.18.0.0" targetFramework="wp71" />
  <package id="JetBrainsAnnotations.Fody" version="1.0.0" targetFramework="wp71" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.280" targetFramework="wp71" />
  <package id="MediaBrowser.Common" version="3.0.270" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="wp71" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp71" />
  <package id="PropertyChanged.Fody" version="1.42.0.0" targetFramework="wp71" />
  <package id="WebSocket4Net" version="0.8" targetFramework="wp71" />
</packages>