<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.13.6.1" targetFramework="portable-win+net45+sl40+wp" />
  <package id="MediaBrowser.Common" version="3.0.85" targetFramework="portable-win+net45+sl40+wp" />
  <package id="PropertyChanged.Fody" version="1.36.2.3" targetFramework="portable-win+net45+sl40+wp" />
</packages>