<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.0" targetFramework="wp8" userInstalled="true" />
  <package id="Cimbalino.Toolkit" version="1.2.7" targetFramework="wp80" />
  <package id="Cimbalino.Toolkit.Core" version="1.2.7" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.9" targetFramework="wp80" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="wp80" />
  <package id="Fody" version="1.27.1" targetFramework="wp80" developmentDependency="true" />
  <package id="ImageTools" version="0.3.1" targetFramework="wp80" />
  <package id="InTheHand.UI.Xaml.Controls.ProgressRing" version="8.2014.10.5" targetFramework="wp80" />
  <package id="JetBrainsAnnotations.Fody" version="1.0.2" targetFramework="wp80" developmentDependency="true" />
  <package id="MediaBrowser.ApiClient" version="3.0.0.624" targetFramework="wp80" />
  <package id="MediaBrowser.Common" version="3.0.627" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp80" />
  <package id="MvvmLightLibs" version="5.0.0.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp80" />
  <package id="PhoneThemeManager.Source" version="2.0" targetFramework="wp80" />
  <package id="PropertyChanged.Fody" version="1.49.0" targetFramework="wp80" developmentDependency="true" />
  <package id="ScottIsAFool.WindowsPhone" version="1.0.18.12" targetFramework="wp80" />
  <package id="ScottIsAFool.WindowsPhone.Background" version="1.0.18.12" targetFramework="wp80" />
  <package id="WebSocket4Net" version="0.12" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
  <package id="WriteableBitmapEx" version="1.0.13.0" targetFramework="wp80" />
  <package id="YLAD" version="2.1.0" targetFramework="wp80" />
</packages>