<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="43233ScottLovegrove.222904C874756" Publisher="CN=43EE5435-230A-4364-8907-04B5F073D610" Version="1.0.11.3" />
  <Properties>
    <DisplayName>MediaBrowser3</DisplayName>
    <PublisherDisplayName>ScottLovegrove</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MediaBrowser.Windows8.App">
      <VisualElements DisplayName="MediaBrowser3" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MediaBrowser for Windows 8" ForegroundText="light" BackgroundColor="#006500" ToastCapable="true">
        <LockScreen Notification="badge" BadgeLogo="Assets/BadgeLogo.png" />
        <DefaultTile ShowName="logoOnly" ShortName="MediaBrowser3" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="/Views/LoadingView.xaml">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
  <!--<Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>HlsSource.dll</Path>
        <ActivatableClass ActivatableClassId="HLSSource.HLSByteStreamHandler" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="HLSSource.HLSSchemeHandler" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>-->
</Package>